/* This is a CSS comment. Put your CSS styling below this line */
body
{text-align:justify;
}
header
{font-size:  xx-large;font-weight: 900 ;text-align: center}
main
{
  font-size: medium;
}
footer
{ font-size: small;text-align: center}
div
{text-align: center}
.banner
{color : blue; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.container
{border-color: black;
  border-width: 15px;
border-style: solid;
padding left: 30px;
padding right: 30px;}
.cards
{border-color: red;
  border-width: 5px;
border-style: solid;
padding: 20px;}
.card
{border-color: black;
  border-width: 5px;
border-style: solid;
background-color: cadetblue;
}
.button
{border-color: red;
  border-width: 2px;
border-style: solid;
padding: 10px;}

@media all and (max-device-width:800px)
{.card
  {color: red;
  padding-left: 10px;
  padding-right: 10px; 
  }
} 

@media all and (max-device-width:1024px)
{.card
  {color: blue;
  padding-left: 10px;
  padding-right: 10px; 
  }
} 
@media all and (max-device-width:480px)
{.card
  {color: green;
  padding-left: 10px;
  padding-right: 10px; 
  }
} 
@media all and (min-device-width:1024px)
{.card
  {color: yellow;
  width:auto;
  font-size: larger;
  }
  .cards
  {
    text-align: left;
  }
} 