/* This is a CSS comment. Put your CSS styling below this line */
body
{text-align:justify;
}
header
{font-size:  xx-large;font-weight: 900 ;text-align: center}
main
{
  font-size: medium;
}
footer
{ font-size: small;text-align: center}
div
{text-align: center}
a
{text-align: center}
.banner
{color : blue; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.container
{border-color: black;
  border-width: 15px;
border-style: solid;
padding-left: 30px;
padding-right: 30px;}
.cards
{border-color: red;
  border-width: 5px;
border-style: solid;
padding: 20px;}
.card
{border-color: black;
  border-width: 5px;
border-style: solid;
background-color: cadetblue;
}
.button
{border-color: red;
  border-width: 2px;
border-style: solid;
padding: 10px;}
.donation
{text-align: center;}
@media all and (min-device-width:1024px)
{
  .card
  {text-align: left;  
  color: yellow;
  font-size: larger;}
  
}

@media all and (max-width:1280px)
{
  .cards
  {text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: blue;
  font-size: 40px;
  }
  .donation{
  font-size: 70px;
  color: blueviolet;
  }
  .container
  {font-size: 90px;}
}
